.Numero {
  margin-bottom: 10px;
  font-size: 20px;
  font-weight: 600;
}
.NumeroInput {
  width: 20%;
  font-size: 25px;
  font-weight: 700;
  color: rgb(241, 23, 23);
}

.Resultado {
  font-size: 20px;
  font-weight: 600;
}
.ResultadoInput {
  width: 65%;
  margin-left: 5px;
  font-size: 18px;
  font-weight: 600;
  color: rgb(241, 23, 23);
}
#contenedor{
    display: inline-block;
}
.button {
  margin-top: 15px;
  font-size: 20px;
}
body {
  padding: 15px;
  background-color: rgb(37, 121, 121);
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
} 
